@import "tailwindcss";


html, body, #root, .App {
  height: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
}


#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.content {
  position: relative; /* important so content is above particles */
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0 0px;
  box-sizing: border-box ;
  z-index: 1;
  text-align: center;
  
}

.container {
  min-height: 100%;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



